:host{
    h1{
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 40px;
        background-color: #17a2b8;
        text-align: center;
        color: white;
        padding: 15px;;
    }
}